/*reset */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  color: #2a2a2a;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
menu {
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
}
table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
}
th,
td {
  text-align: initial;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}
/*reset end*/

/* basic setting */

$body-bg: #e5e5e5;
$white: #fff;
$black: #2a2a2a;
$step-grey: #afb1bd;

$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
);

@each $prop, $abbrev in (width: w, height: h) {
  @each $num, $val in $sizes {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
  }
}

/* 使用@each 產出css size設定 */
$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: (
    $spacer * 0.75,
  ),
  4: (
    $spacer * 1,
  ),
  5: (
    $spacer * 1.25,
  ),
  6: (
    $spacer * 1.5,
  ),
  7: (
    $spacer * 1.75,
  ),
  8: (
    $spacer * 2,
  ),
);

@each $prop, $abbrev in (margin: m, padding: p) {
  @each $num, $val in $spacers {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
    .#{$abbrev}t-#{$num} {
      #{$prop}-top: $val;
    }
    .#{$abbrev}r-#{$num} {
      #{$prop}-right: $val;
    }
    .#{$abbrev}b-#{$num} {
      #{$prop}-bottom: $val;
    }
    .#{$abbrev}l-#{$num} {
      #{$prop}-left: $val;
    }
    .#{$abbrev}x-#{$num} {
      #{$prop}-left: $val;
      #{$prop}-right: $val;
    }
    .#{$abbrev}y-#{$num} {
      #{$prop}-top: $val;
      #{$prop}-bottom: $val;
    }
  }
}

@mixin getStepNums($num) {
  @for $i from 1 through $num {
    &:nth-child(#{$i}) .circle-container::after {
      content: "#{$i}";
      color: $step-grey;
      font-size: 16px;
      font-weight: 700;
    }
  }
}

%standard-boxshadow {
  box-shadow: 3px 0 13px 0 rgba(100, 112, 134, 0.1);
}

html {
  font-size: 16px;
  height: 100%;
}
body {
  height: 100%;
}
.d-none {
  display: none;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.align-content-start {
  align-content: flex-start;
}
.align-content-end {
  align-content: flex-end;
}
.align-content-center {
  align-content: center;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.cursor-pointer {
  cursor: pointer;
}

/* Main  Header */

.header-container {
  position: relative;
  background-color: #fff;
  display: fixed;
  text-align: center;
  height: 56px;
  line-height: 56px;
}

.navbar-toggle-label {
  position: absolute;
  left: 1rem;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
.navbar-toggle {
  visibility: hidden;
  position: absolute;
}

.nav {
  transform-origin: top;
  transform: scale(1, 0);
  transition: transform 0.3s ease-out 0.15s;

  &__navbar-item {
    transition: opacity 0.2s ease-out 0.15s;
    opacity: 0;
  }

  &__navbar-link {
    position: relative;
    margin: 2rem 0;
    font-size: 16px;
    font-weight: 500;
  }

  &__navbar-link::after {
    position: absolute;
    content: "";
    bottom: -1rem;
    left: 100%;
    transform: translate(-100%);
    width: 100%;
    height: 2px;
    background: rgba($color: $black, $alpha: 0.2);
  }
}

.navbar-icon-items {
  display: flex;
  align-items: center;
  justify-content: center;

  .navbar-icon {
    transition: opacity 0.2s ease-out 0.2s;
    opacity: 0;
    margin: 1.5rem;
  }
}

.navbar-toggle:checked ~ .nav,
.navbar-icon-items {
  transform-origin: top;
  transform: scale(1, 1);
}

.navbar-toggle:checked ~ .nav .nav__navbar-item,
.navbar-toggle:checked ~ .navbar-icon-items .navbar-icon {
  opacity: 1;
}

// 設定stepper
.stepper-panel {
  .stepper-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
  }
}
.step {
  flex: 1;
  text-align: center;
  margin-top: 24px;
  position: relative;
  @include getStepNums(3);
  .circle-container {
    height: 32px;
    width: 32px;
    line-height: 32px;
    border: 1px solid $step-grey;
    border-radius: 50%;
    margin: 0 auto;
  }

  &.checked {
    .circle-container {
      background-color: $black;
    }
    .circle-container::after {
      color: $white;
      content: "\2714";
    }
  }
  &.active {
    .circle-container {
      border: 1px solid $black;
    }

    .circle-container::after {
      color: $black;
    }
    .connect-line {
      background-color: #000;
    }
  }
  .connect-line {
    display: block;
    height: 2px;
    width: 50%;
    background-color: $step-grey;
    position: absolute;
    top: 16px;
    right: calc(50% + 20px);
    left: calc(-50% + 25px);
  }
}

/**************************************
BREAKPOINTS - desktop
**************************************/
@media screen and (min-width: 768px) {
  /* Main Header */
  .header-container {
    display: grid;
    grid-template-columns: 0.5fr 3fr auto 3fr 0.5fr;
  }
  .navbar-toggle-label {
    display: none;
  }
  .nav {
    all: unset;
    height: 100%;
    grid-column: 2 / 3;
    position: absolute;
    top: 0;

    &__navbar-item {
      opacity: 1;
      display: grid;
      grid-auto-flow: column;
      grid-gap: 2rem;
    }
    &__navbar-link {
      margin: 0;
      &::after {
        display: none;
      }
    }
  }

  .navbar-icon-items {
    height: 100%;
    position: absolute;
    top: 0;
    grid-column: 4 /5;
    justify-self: end;
    .navbar-icon {
      opacity: 1;
    }
  }

  .navbar-logo {
    grid-column: 3 /4;
  }
}
