/*reset */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  color: #2a2a2a;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
menu {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
}
th,
td {
  text-align: initial;
}

a {
  text-decoration: none;
}
/*reset end*/

/* Main  Header */

header {
  position: relative;
  background-color: #fff;
  display: fixed;
  text-align: center;
  height: 56px;
  line-height: 56px;
}

.navbar-toggle-label {
  position: absolute;
  left: 1rem;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
.navbar-toggle {
  visibility: hidden;
  position: absolute;
}

.nav {
  transform-origin: top;
  transform: scale(1, 0);
  transition: transform 0.3s ease-out 0.15s;

  &__navbar-item {
    transition: opacity 0.2s ease-out 0.15s;
    opacity: 0;
  }

  &__navbar-link {
    position: relative;
    margin: 2rem 0;
    font-size: 16px;
    font-weight: 500;
  }

  &__navbar-link::after {
    position: absolute;
    content: "";
    bottom: -1rem;
    left: 100%;
    transform: translate(-100%);
    width: 100%;
    height: 2px;
    background: rgba($color: #2a2a2a, $alpha: 0.2);
  }
}

.navbar-toggle:checked ~ .nav {
  transform-origin: top;
  transform: scale(1, 1);
}

.navbar-toggle:checked ~ .nav .nav__navbar-item {
  opacity: 1;
}

/**************************************
BREAKPOINTS - desktop
**************************************/
@media screen and (min-width: 375px) {
  main {
    width: 70%;
  }
  aside {
    width: 30%;
  }
}
