@import "base/reset";
@import "base/base";
@import "abstracts/_variables";
@import "abstracts/mixins";

/* Main  Header */
.header-container {
  position: relative;
  display: fixed;
  text-align: center;
  height: 56px;
  line-height: 56px;
}

.navbar-toggle-label {
  position: absolute;
  left: 1rem;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
.navbar-toggle {
  visibility: hidden;
  position: absolute;
}
.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  .alpha-logo {
    width: 169px;
    height: 30px;
    margin-left: 15px;
    background: var(--alpha-logo-url) no-repeat;
  }
}

.nav {
  transform-origin: top;
  transform: scale(1, 0);
  transition: transform 0.3s ease-out 0.15s;
  background: var(--white);
  z-index: 999;

  &__navbar-item {
    transition: opacity 0.2s ease-out 0.15s;
    opacity: 0;
  }

  &__navbar-link {
    position: relative;
    margin: 2rem 0;
    font-size: 16px;
    font-weight: 500;
  }

  &__navbar-link::after {
    position: absolute;
    content: "";
    bottom: -1rem;
    left: 100%;
    transform: translate(-100%);
    width: 100%;
    height: 2px;
    // background: rgba($color: $black, $alpha: 0.2);
  }
}

.navbar-icon-items {
  display: flex;
  align-items: center;
  justify-content: center;

  .navbar-icon {
    transition: opacity 0.2s ease-out 0.2s;
    opacity: 0;
    margin: 1.5rem;
    .search-icon {
      @include iconBlock(25px);
      background: var(--search-icon-url);
      background-size: cover;
    }
    .cart-icon {
      @include iconBlock(25px);
      background: var(--cart-icon-url);
      background-size: cover;
    }

    .moon-icon {
      display: block;
      width: 25px;
      height: 25px;
      background: var(--moon-icon-url);
      background-size: cover;
    }
    &:hover {
      cursor: pointer;
    }
    > input {
      display: none;
    }
    > label {
      cursor: pointer;
    }
  }
}

.navbar-toggle:checked ~ .nav,
.navbar-icon-items {
  transform-origin: top;
  transform: scale(1, 1);
}

.navbar-toggle:checked ~ .nav .nav__navbar-item,
.navbar-toggle:checked ~ .navbar-icon-items .navbar-icon {
  opacity: 1;
}

.disappear {
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

.appear {
  transition: opacity 0.2s ease-in 0.2s;
  opacity: 1;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  margin: 0 auto;
}

// 設定stepper
.stepper-panel {
  h2 {
    padding-left: 1rem;
  }
  .stepper-container {
    display: flex;
  }
}
.step {
  flex: 1;
  text-align: center;
  margin-top: 24px;
  position: relative;
  @include getStepNums(3);
  .circle-container {
    height: 32px;
    width: 32px;
    line-height: 32px;
    border: 1px solid var(--step-gray);
    border-radius: 50%;
    margin: 0 auto;
  }

  &.checked {
    .circle-container {
      background-color: var(--black);
    }
    .circle-container::after {
      color: var(--white);
      content: "\2714";
    }
  }
  &.active {
    .circle-container {
      border: 1px solid var(--black);
      background-color: var(--black);
      color: var(--white);
    }

    .circle-container::after {
      color: var(--white);
    }
    .connect-line {
      background-color: var(--black);
    }
  }
  .connect-line {
    display: block;
    height: 2px;
    width: 50%;
    background-color: var(--step-gray);
    position: absolute;
    top: 16px;
    right: calc(50% + 20px);
    left: calc(-50% + 25px);
  }
}

.form-row {
  margin-bottom: 24px;
  > label {
    display: block;
    font-size: 12px;
    font-weight: 700;
    color: var(--light-gray);
    padding-bottom: 8px;
  }
  input,
  select {
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    color: var(--form-gray);
    font-weight: 400;
    padding: 12px;
    width: 100%;

    &:hover,
    &:focus {
      border-color: var(--black);
      color: var(--black);
    }
  }
}

.form-panel {
  padding-top: 24px;
  flex: 1;
  .form-title {
    margin-bottom: 1.5rem;
  }

  .gender {
    width: 40%;
  }
  .name {
    width: 55%;
  }
  .inline-form {
    display: flex;
    justify-content: space-between;
  }

  .expiry-date,
  .CVC-num {
    width: 47%;
  }
}

/* Delivery way */

.delivery-way {
  .standard,
  .DHL-delivery {
    font-weight: 400;
    position: relative;
    border: 1px solid var(--gray-bg);
    border-radius: 4px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    padding: 12px;

    &:hover {
      cursor: pointer;
    }

    .delivery-title {
      display: inline-block;
      margin-left: 26px;

      .title {
        font-size: 14px;
      }
      .description {
        font-size: 12px;
      }
    }
    .delivery-fee {
      position: absolute;
      right: 5%;
      top: 10%;
      font-size: 12px;
    }
  }

  input {
    &[type="radio"] {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid var(--black);
      padding: 4px;

      &:checked {
        box-shadow: 0 0 0 5px var(--black) inset;
      }
    }
  }
}

/* Cart items */
.cart-items {
  border: 1px solid var(--cart-btn-gray);
  border-radius: 8px;
  margin: 1rem;
  background-color: var(--cart-bg);

  .cart-title {
    display: none;
  }
  .item {
    margin: 1rem;

    img {
      border-radius: 4px;
    }
  }
  .item-info {
    text-align: right;
    flex: 1;
    padding: 16px;

    .item-btn {
      display: flex;
      justify-content: end;
      line-height: 26px;
      margin: 17px 0 17px 0;
      .minus-btn,
      .add-btn {
        width: 26px;
        height: 100%;
        border-radius: 50%;
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem;
        background-color: var(--cart-btn-gray);
        &:hover {
          cursor: pointer;
          // background-color: darken(var($cart-btn-gray), 1);
        }
      }
      .quantity {
        padding: 0 21px 0 21px;
      }
    }
  }
  .count {
    margin: 1rem;
    border-top: 1px solid var(--gray-bg);
  }
  .title,
  .fee,
  .total {
    font-size: 14px;
    margin: 1rem 0 1rem 0;
  }
  .total {
    font-weight: 700;
    color: var(--black);
  }
}

.button-control {
  display: flex;
  border-top: 2px solid var(--gray-bg);
  margin: 1rem;
  .btn {
    flex: 1;
    &:hover {
      cursor: pointer;
    }
  }
  .btn-next {
    background-color: var(--button-color);
    color: white;
    &:hover {
      cursor: pointer;
      // background-color: darken(var(--button-color), 1);
    }
  }
  > button {
    padding: 1rem;
    border-radius: 8px;
    outline: none;
    border: none;
    color: var(--black);
    background-color: var(--white);
  }
  padding-top: 24px;
  padding-bottom: 40px;
}

.footer {
  display: none;
}

/**************************************
BREAKPOINTS - desktop
**************************************/
@media screen and (min-width: 600px) {
  /* Main Header */
  .header-container {
    display: grid;
    grid-template-columns: 1fr 3fr auto 3fr 1fr;
  }
  .navbar-toggle-label {
    display: none;
  }
  .nav {
    all: unset;
    height: 100%;
    grid-column: 2 / 3;
    position: absolute;
    top: 0;

    &__navbar-item {
      opacity: 1;
      display: grid;
      grid-auto-flow: column;
      grid-gap: 2rem;
    }
    &__navbar-link {
      margin: 0;
      &::after {
        display: none;
      }
    }
  }

  .navbar-icon-items {
    height: 100%;
    position: absolute;
    top: 0;
    grid-column: 4 /5;
    justify-self: end;
    .navbar-icon {
      opacity: 1;
    }
  }

  .navbar-logo {
    grid-column: 3 /4;
  }

  // DeskTop layout
  .main-content {
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    .stepper-panel {
      grid-column: 2 / 3;
      grid-row: 1 /2;
    }
    .form-panel {
      grid-column: 2 / 3;
      grid-row: 2 / 3;

      .block-form {
        display: flex;
        justify-content: space-between;
        .phone {
          width: 50%;
        }
        .email {
          width: 45%;
        }
        .country {
          width: 30%;
        }
        .address {
          width: 65%;
        }
      }
    }
    .cart-items {
      grid-column: 3 / 4;
      grid-row: 2 /3;

      .cart-title {
        display: block;
        font-size: 18px;
        font-weight: 700;
        margin: 1rem;
      }
    }
    .button-control {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .btn {
        height: 46px;
      }
      .btn-next {
        grid-column: 3 / 4;
      }
    }
  }

  .footer {
    display: block;
    background: var(--footer-bg);
    height: 284px;

    &-content {
      display: grid;
      height: 100%;
      grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
      h2 {
        padding-top: 40px;
      }
      .footer-logo {
        grid-column: 2 / 3;
        background-color: var(--footer-bg);

        .logos {
          height: 100%;
          align-content: center;
          justify-items: center;
          display: flex;
          align-items: center;

          .footer-alpha {
            background: var(--alpha-logo-url) no-repeat;
            width: 134px;
            height: 32px;
            margin-left: 13px;
            margin-top: 5px;
          }
        }
      }
      .footer-list {
        padding-bottom: 14px;
      }
      .footer-link {
        color: var(--footer-color);
        font-weight: 400;
        padding-top: 8px;
      }
    }
  }
}
