/*reset */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  color: #2a2a2a;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
menu {
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
}
table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
}
th,
td {
  text-align: initial;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

/*reset end*/

/* basic setting */

$body-bg: #e5e5e5;
$white: #fff;
$black: #2a2a2a;
$step-gray: #afb1bd;
$light-gray: #808080;
$dark-gray: #4a4a4a;
$button-color: #f67599;

$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
);

@each $prop, $abbrev in (width: w, height: h) {
  @each $num, $val in $sizes {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
  }
}

/* 使用@each 產出css size設定 */
$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: (
    $spacer * 0.75,
  ),
  4: (
    $spacer * 1,
  ),
  5: (
    $spacer * 1.25,
  ),
  6: (
    $spacer * 1.5,
  ),
  7: (
    $spacer * 1.75,
  ),
  8: (
    $spacer * 2,
  ),
);

@each $prop, $abbrev in (margin: m, padding: p) {
  @each $num, $val in $spacers {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
    .#{$abbrev}t-#{$num} {
      #{$prop}-top: $val;
    }
    .#{$abbrev}r-#{$num} {
      #{$prop}-right: $val;
    }
    .#{$abbrev}b-#{$num} {
      #{$prop}-bottom: $val;
    }
    .#{$abbrev}l-#{$num} {
      #{$prop}-left: $val;
    }
    .#{$abbrev}x-#{$num} {
      #{$prop}-left: $val;
      #{$prop}-right: $val;
    }
    .#{$abbrev}y-#{$num} {
      #{$prop}-top: $val;
      #{$prop}-bottom: $val;
    }
  }
}

@mixin getStepNums($num) {
  @for $i from 1 through $num {
    &:nth-child(#{$i}) .circle-container::after {
      content: "#{$i}";
      color: $step-gray;
      font-size: 16px;
      font-weight: 700;
    }
  }
}

%standard-boxshadow {
  box-shadow: 3px 0 13px 0 rgba(100, 112, 134, 0.1);
}

html {
  // font-size: 16px;
  height: 100%;
}
body {
  height: 100%;
}
.d-none {
  display: none;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.align-content-start {
  align-content: flex-start;
}
.align-content-end {
  align-content: flex-end;
}
.align-content-center {
  align-content: center;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.cursor-pointer {
  cursor: pointer;
}

/* Main  Header */

.header-container {
  position: relative;
  background-color: #fff;
  display: fixed;
  text-align: center;
  height: 56px;
  line-height: 56px;
}

.navbar-toggle-label {
  position: absolute;
  left: 1rem;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
.navbar-toggle {
  visibility: hidden;
  position: absolute;
}

.nav {
  transform-origin: top;
  transform: scale(1, 0);
  transition: transform 0.3s ease-out 0.15s;
  background-color: #fff;
  z-index: 999;

  &__navbar-item {
    transition: opacity 0.2s ease-out 0.15s;
    opacity: 0;
  }

  &__navbar-link {
    position: relative;
    margin: 2rem 0;
    font-size: 16px;
    font-weight: 500;
  }

  &__navbar-link::after {
    position: absolute;
    content: "";
    bottom: -1rem;
    left: 100%;
    transform: translate(-100%);
    width: 100%;
    height: 2px;
    background: rgba($color: $black, $alpha: 0.2);
  }
}

.navbar-icon-items {
  display: flex;
  align-items: center;
  justify-content: center;

  .navbar-icon {
    transition: opacity 0.2s ease-out 0.2s;
    opacity: 0;
    margin: 1.5rem;
  }
}

.navbar-toggle:checked ~ .nav,
.navbar-icon-items {
  transform-origin: top;
  transform: scale(1, 1);
}

.navbar-toggle:checked ~ .nav .nav__navbar-item,
.navbar-toggle:checked ~ .navbar-icon-items .navbar-icon {
  opacity: 1;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  margin: 0 auto;
}

// 設定stepper
.stepper-panel {
  h2 {
    padding-left: 1rem;
  }
  .stepper-container {
    display: flex;
  }
}
.step {
  flex: 1;
  text-align: center;
  margin-top: 24px;
  position: relative;
  @include getStepNums(3);
  .circle-container {
    height: 32px;
    width: 32px;
    line-height: 32px;
    border: 1px solid $step-gray;
    border-radius: 50%;
    margin: 0 auto;
  }

  &.checked {
    .circle-container {
      background-color: $black;
    }
    .circle-container::after {
      color: $white;
      content: "\2714";
    }
  }
  &.active {
    .circle-container {
      border: 1px solid $black;
      background-color: $black;
      color: #fff;
    }

    .circle-container::after {
      color: #fff;
    }
    .connect-line {
      background-color: #000;
    }
  }
  .connect-line {
    display: block;
    height: 2px;
    width: 50%;
    background-color: $step-gray;
    position: absolute;
    top: 16px;
    right: calc(50% + 20px);
    left: calc(-50% + 25px);
  }
}

.form-row {
  margin-bottom: 24px;
  > label {
    display: block;
    font-size: 12px;
    font-weight: 700;
    color: $light-gray;
    padding-bottom: 8px;
  }
  input,
  select {
    border: 1px solid $light-gray;
    border-radius: 4px;
    color: #999;
    font-weight: 400;
    padding: 12px;
    width: 100%;

    &:hover,
    &:focus {
      border-color: $black;
      color: $black;
    }
  }
}

.form-panel {
  padding-top: 24px;
  flex: 1;

  .gender {
    width: 40%;
  }
  .name {
    width: 55%;
  }
  .inline-form {
    display: flex;
    justify-content: space-between;
  }

  .expiry-date,
  .CVC-num {
    width: 47%;
  }
}

/* Delivery way */

.delivery-way {
  .standard,
  .DHL-delivery {
    font-weight: 400;
    position: relative;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    padding: 12px;

    .delivery-title {
      display: inline-block;
      margin-left: 26px;

      .title {
        font-size: 14px;
      }
      .description {
        font-size: 12px;
      }
    }
    .delivery-fee {
      position: absolute;
      right: 5%;
      top: 10%;
      font-size: 12px;
    }
  }

  input {
    &[type="radio"] {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px black solid;
      padding: 4px;

      &:checked {
        box-shadow: 0 0 0 5px $black inset;
      }
    }
  }
}

/* Cart items */
.cart-items {
  border: 1px solid #f0f0f5;
  border-radius: 8px;
  padding-left: 16px;
  .item {
    margin-top: 18px;
  }
  .item-info {
    text-align: right;
    flex: 1;
    padding: 16px;
  }
  .title,
  .fee {
    font-size: 14px;
    padding: 12px;
  }
  .fee {
    font-weight: 700;
    color: $black;
  }
}

.spilt-line {
  height: 2px;
  width: 100%;
  background-color: #e6e6e6;
  margin-top: 32px;
}

.button-control {
  display: flex;
  .btn {
    flex: 1;
  }
  > button {
    background-color: $button-color;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    outline: none;
    border: none;
  }
  padding-top: 24px;
  padding-bottom: 40px;
}

/**************************************
BREAKPOINTS - desktop
**************************************/
@media screen and (min-width: 768px) {
  /* Main Header */
  .header-container {
    display: grid;
    grid-template-columns: 0.5fr 3fr auto 3fr 0.5fr;
  }
  .navbar-toggle-label {
    display: none;
  }
  .nav {
    all: unset;
    height: 100%;
    grid-column: 2 / 3;
    position: absolute;
    top: 0;

    &__navbar-item {
      opacity: 1;
      display: grid;
      grid-auto-flow: column;
      grid-gap: 2rem;
    }
    &__navbar-link {
      margin: 0;
      &::after {
        display: none;
      }
    }
  }

  .navbar-icon-items {
    height: 100%;
    position: absolute;
    top: 0;
    grid-column: 4 /5;
    justify-self: end;
    .navbar-icon {
      opacity: 1;
    }
  }

  .navbar-logo {
    grid-column: 3 /4;
  }
}
